input {
  min-width: 300px;
}

#output {
  background-image: url(../img/2001a.jpeg);
  color: white;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 15px;
  padding-left: 4px;
  padding-bottom: 1px;
}

.jumbotron {
  background-image: url(../img/banner.jpeg);
  background-color: black;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 4px;
  margin-right: 100px;
  margin-left: 100px;
}

.container-fluid {
  background-image: url(../img/eye.jpeg);
  color: white;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 6px;
  margin: 4px;
}

button {
  margin-bottom: 6px;
}

h3 {
  display: none;
  margin-left:8%;
}
